.cuisine-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cuisine-button-container {
    padding-left: 8px;
    padding-right: 8px;
}

.cuisine-button.selected {
    background-color: #79D257;
}

.cuisine-button:hover {
    background-color: #79D257;
}