.registration-card {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 400px;
    min-width: 250px;
    margin: 20px auto;
    position: relative;
    border: 1px solid black;
}

/* Top part of the card */
.register-header {
    background-color: #364351;
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;

}


/* Middle of the card */
.registration-form {
    background-color: #D5D5D5;
    margin-top: 0;
    padding: 10px;
}

/* Bottom of the card */
.registration-footer {
    padding: 10px;
    background-color: #364351;
    color: white;
}

.registration-footer a {
    color: white;
    text-decoration: none;
}

.registration-footer a:hover {
    text-decoration: underline;
}

/* FontAwesome icons */
.faTimes,
.faCheck,
.faInfoCircle {
    margin-right: 10px;
}

/* Offscreen class for screen readers */
.offscreen {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}